---
import type { CategoryNode } from '../lib/notes';

interface Props {
  nodes: CategoryNode[];
}
const { nodes } = Astro.props;
---

<ul>
  {
    nodes.map((node) => (
      <li>
        <a href={`/categories/${node.path}/`}>{node.name}</a>
        {node.notes.length > 0 && <small> ({node.notes.length})</small>}
        {node.children.length > 0 && <Astro.self nodes={node.children} />}
      </li>
    ))
  }
</ul>
